<p id="notice"><%= notice %></p>

<p>
  <b>Components mask:</b>
  <%= @order.components_mask %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
